*.class
.classpath
.DS_Store
.settings/
update.sh
rollback.sh
compile.sh
cordova-app.sh
.project

# Package Files #
*.log
*.war
 
# gwt caches and compiled units #
war/gwt_bree/
war/.DS_Store
war/gwt_basic/
gwt-unitCache/
./build/
tmp/

*.DS_Store
war/WEB-INF/.DS_Store
 
# boilerplate generated classes #
.apt_generated/
 
#compilation logs
.gwt/
 
#caching for already compiled files
gwt-unitCache/
 
#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/
/lib/
/bin/
target/
/bin
/test-classes/
